<body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <img src="assets/icon/restaurant_Unemi-transformed.png">
    </div>
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Cambia tu contraseña.</p>
            <div class="input-group mb-3">
              <input type="password" id="newPassword" [(ngModel)]="newPassword"  class="form-control" placeholder="Nueva Contraseña">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div> 
            <div class="row">
              <div class="col-12">
                <button (click)="resetPassword()" class="btn btn-primary btn-block">Cambiar Contraseña</button>
              </div>
            </div>          
          <p class="mt-3 mb-1">
            <a routerLink="/login">Login</a>
          </p>
        </div>
      </div>
    </div> 
    </body> 