<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <img src="assets/icon/restaurant_Unemi-transformed.png">
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Olvidaste tu Contraseña.</p>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="input-group mb-3">
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Correo">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Request new password</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
        <p class="mt-3 mb-1">
          <a routerLink="/login">Login</a>
        </p>
        <p class="mb-0">
          <a routerLink="/registro" class="text-center">Registro</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>